.container {
	/*width: 100%;*/
	text-align: center;
}

.container div {
	background-color: #e7e2e2;
	border: 2px solid black;
	text-align: justify;
}

div h3 {
	margin: 0;
	padding: 5px 25px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	display: inline-block;
	float: right;
}

div p {
	margin-top: 40px;
}

.container div:first-of-type h3 {
	background-color: #d39191;
}

.container div:nth-of-type(2) h3 {
	background-color: #b05050;
	color: #ffffff;
}

.container div:nth-of-type(3) h3 {
	background-color: #cbcc6b;
}

@media (min-width: 992px) {
.container {
	min-width: 992px;
}

h1 {
	margin-bottom: 3%;
}

.col-lg-4 {
	float: left;
	width: 30%;
}

.col-lg-4 p {
	padding: 0 15px;
}

.col-lg-4:nth-of-type(1) {
	margin-left: 3%;
}

.col-lg-4:nth-of-type(2) {
	margin: 0 2%;
}

.col-lg-4:nth-of-type(3) {
	margin: 0;
}
}

@media (min-width: 768px) and (max-width: 991px) {
.col-lg-4,
.col-lg-2 {
	float: left;
}

.col-lg-4 p {
	padding: 0 10px;
	margin-bottom: 0;
}

h1 {
	margin-bottom: 2%;
}

.col-lg-4:nth-of-type(1) {
	margin: 0 3% 3% 3%;
}

.col-lg-4 {
	width: 45%;
}

.col-lg-2 {
	width: 93.3%;
	margin-left: 3%;
}
}

@media (max-width: 767px) {
.col-lg-4 {
	width: 90%;
	float: left;
	margin: 0 3% 3% 4.5%;
}

.col-lg-4 p {
	padding: 0 5px;
	margin-bottom: 0;
}

h1 {
	margin-bottom: 2%;
}
}