#menu-item {
	background: #f89;
}

.container {
	background: #946;
}

body {
	font-family: 'Roboto', sans-serif;
}

h2,
h3 {
	text-align: center;
	font-family: 'Yusei Magic', sans-serif;
}

#header-nav {
	background-color: #e8e0e0;
	max-width: 97%;
	margin: 0 auto;
	font-family: 'Yusei Magic', sans-serif;
	border-top: 2px solid black;
	border-bottom: 1px solid black;
}

#header-nav a {
	text-decoration: none;
	color: black;
}

#header-nav h1 {
	font-weight: 600;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #222;
	line-height: 1;
	margin: 0;
}

@media (min-width: 426px) {
body .container {
	max-width: 97%;
}
}